@font-face {
    font-family: product;
    src: url(../fonts/Product.ttf);
}

@font-face {
    font-family: productBold;
    src: url(../fonts/ProductBold.ttf);
}

body{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #EAEAEA;
}

.main{
    display: grid;
    width: 100%;
    height: 100vh;
}

.main-left{
    display: block;
    grid-column: 1;
    margin-top: 15%;
  margin-left: 15%;
}

.main-right{
    grid-column: 2;
    display: block;
}


.main-left img {
    width: 500px;
  }


.main-right-info{
  margin-top: 15%;
  margin-left: 50;
}

#omschrijving{
  max-width: 500px;
  font-size: 20px;
}

#title{
  font-size:50px;
}

#info{
  font-size: 20px;
}

#edit{
  background-color: #00ABB3;
}