body{
    padding-left: 10%;
    padding-right: 10%;
}

.main{
    display: grid;
    width: 100%;
    height: 100vh;
}

.main-left{
    grid-column: 1;
}

.main-right{
    grid-column: 2;
}

@media only screen and (max-width: 600px){
    .main-left{
        grid-column: 1;
        grid-row: 1;
        background-color: red;
    }
    
    .main-right{
        grid-column: 1;
        grid-row: 2;
        background-color: blue;
    }
}

  
  .slideshow-container {
    max-width: 700px;
  
  }
  
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    margin-left: 658.84px;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 58px;
    width: 105px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  #dot1 {
    background-image: url(https://cloud.funda.nl/valentina_media/159/129/512_720x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot2 {
    background-image: url(https://cloud.funda.nl/valentina_media/159/129/514_720x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot3 {
    background-image: url(https://cloud.funda.nl/valentina_media/159/129/515_720x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot4 {
    background-image: url(../img/villa1map.JPG);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot5 {
    background-image: url(https://cloud.funda.nl/valentina_media/155/737/710_1440x960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot6 {
    background-image: url(https://cloud.funda.nl/valentina_media/155/737/486_1440x960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot7 {
    background-image: url(https://cloud.funda.nl/valentina_media/155/737/487_1440x960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot8 {
    background-image: url(../img/villa2map.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot9 {
    background-image: url(https://cloud.funda.nl/valentina_media/159/153/806_720x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot10 {
    background-image: url(https://cloud.funda.nl/valentina_media/159/153/785_720x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot11 {
    background-image: url(https://cloud.funda.nl/valentina_media/159/153/813_720x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #dot12 {
    background-image: url(../img/villa3map.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .overlay {
    width: 105px;
    height: 58px;
  }
  
  
  .active,
  .dot:hover {
    background-color: #00000060;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  @media only screen and (max-width: 300px) {
  
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }