body{
    background-color: #EAEAEA;
}

.main{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 28%;
    height: 20%;
    display: flex;
    text-align: center;
}

.sub{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}